<div class="ui-g">
	<div class="ui-g-12 ui-md-6 ui-lg-3">
		<p-card header="Grounut chekku oil" [style]="{width: '360px'}">
			<img src="Card" src="https://www.parambariyam.in/102-home_default/groundnut-peanut-oil.jpg">
</p-card>
	</div>
	<div class="ui-g-12 ui-md-6 ui-lg-3">
		<div>
			COLD PRESSED GROUNDNUT OIL
		</div>
		<div>
			<span style="color: #e8992f;">₹280.00</span>
		</div>
		<span>
      Tax excluded
Cold pressed groundnut oil is cholesterol free.
The smoking point of the groundnut oil is high and helps for deep frying.
Peanut oil will have low cholesterol level and prevents from heart diseases.
Prevents from cancer, boosts cognitive functions, and strengthens the immune system and lower blood pressure.
    </span>
		<div>
			<span >Litre</span>
		</div>
		<div>
			<button pButton type="button" label="1 Litre" class="ui-button-rounded ui-button-secondary"></button>
			<button pButton type="button" label="2 Litre" class="ui-button-rounded ui-button-secondary"></button>
			<button pButton type="button" label="3 Litre" class="ui-button-rounded ui-button-secondary"></button>
		</div>
		<div>
      <div>	<span>Quantity</span></div>
			<p-spinner size="10" [(ngModel)]="val2" [min]="0" [max]="10"></p-spinner>
      
		</div>
	</div>
</div>