

<p-toolbar>
  <div class="ui-toolbar-group-left">
    <span>Oil Products</span>
  </div>
 <div class="ui-toolbar-group-right">
        <button pButton type="button" label="Signup" (click)="signup()" ></button>
        <button pButton type="button" label="Login" (click)="login()" class="ui-button-success"></button>
    </div>
</p-toolbar>

<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <p-card header="Groundnuts mara chekku oil" subheader="200 RS" [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="Card" src="https://pubgo4imgs.s3-accelerate.amazonaws.com/co/vast.trade.investment/images/cropped/go4_apollo_vast.trade.investment_imageUrl_1578267559.jpg">
    </p-header>
   
    <p-footer>
        <button pButton type="button" label="Select details" icon="pi pi-check" style="margin-right: .25em"></button>
    </p-footer>
</p-card>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3"> <p-card header="Gingelly mara chekku oil" subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="Card" src="https://pubgo4imgs.s3-accelerate.amazonaws.com/co/vast.trade.investment/images/cropped/go4_apollo_vast.trade.investment_imageUrl_1578267559.jpg">
    </p-header>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
    <p-footer>
        <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
        <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
    </p-footer>
</p-card></div>
    <div class="ui-g-12 ui-md-6 ui-lg-3"> <p-card header="Cocunet mara chekku oil" subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="Card" src="https://pubgo4imgs.s3-accelerate.amazonaws.com/co/vast.trade.investment/images/cropped/go4_apollo_vast.trade.investment_imageUrl_1578267559.jpg">
    </p-header>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
    <p-footer>
        <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
        <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
    </p-footer>
</p-card></div>
    <div class="ui-g-12 ui-md-6 ui-lg-3"> <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="Card" src="https://pubgo4imgs.s3-accelerate.amazonaws.com/co/vast.trade.investment/images/cropped/go4_apollo_vast.trade.investment_imageUrl_1578267559.jpg">
    </p-header>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
    <p-footer>
        <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
        <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
    </p-footer>
</p-card></div>
</div>
<p-dialog header="Register" [(visible)]="showSignup" [style]="{width: '50vw'}" [baseZIndex]="10000">
   <div>User Name</div>
<input type="text" pInputText [(ngModel)]="property"/>
<div></div>
<div>Password</div>

<input type="text" pInputText [(ngModel)]="property"/>
    <p-footer>
        <button pButton type="button" label="Secondary" (click)="showSignup=false" class="ui-button-rounded ui-button-secondary"></button>
<button pButton type="button" label="Success" (click)="showSignup=false" class="ui-button-rounded ui-button-success"></button>
    </p-footer>
</p-dialog>
<p-dialog header="Login" [(visible)]="showLogin" [style]="{width: '50vw'}" [baseZIndex]="10000">
    Puzo was first to show interest in having Marlon Brando portray Don Vito Corleone by sending a letter to Brando in which he stated Brando was the "only actor who can play the Godfather." Despite Puzo's wishes, the executives at Paramount were against having Brando, partly due to the poor performance of his recent films and also his short temper. Coppola favored Brando or Laurence Olivier for the role, but Olivier's agent refused the role claiming Olivier was sick; however, Olivier went on to star in Sleuth later that year. The studio mainly pushed for Ernest Borgnine to receive the part. Other considerations were George C. Scott, Richard Conte, Anthony Quinn, and Orson Welles.
    <br><br>
    Coppola gave several roles in the film to family members. He gave his sister, Talia Shire, the role of Connie Corleone. His daughter Sofia played Michael Francis Rizzi, Connie's and Carlo's newborn son. Carmine Coppola, his father, appeared in the film as an extra playing a piano during a scene. Coppola's wife, mother, and two sons all appeared as extras in the picture. Several smaller roles, like Luca Brasi, were cast after the filming had started.
    <br><br>
    <p-footer>
      <button pButton type="button" label="Secondary" (click)="showLogin=false" class="ui-button-rounded ui-button-secondary"></button>
<button pButton type="button" label="Success" (click)="showLogin=false" class="ui-button-rounded ui-button-success"></button>
    </p-footer>
</p-dialog>

