

<p-toolbar>
  <div class="ui-toolbar-group-left">
    <span>Oil Products</span>
  </div>
 <div class="ui-toolbar-group-right">
        <button pButton type="button" label="Signup" ></button>
        <button pButton type="button" label="Login" class="ui-button-success"></button>
    </div>
</p-toolbar>

<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
</div>


